
<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Choose Your Action</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    
    <div class='container'>
<div class='col-lg-1'>
</div>
<div class='row'>

<div class='span5'>
    <!-- <div class='row'> -->
      <div  id='actions'> 
      <p>Welcome user 106</p>
      <!-- <div class="alert alert-warning"> Please wait for your opponent <span id='timerBegin'></span></div> -->
<!-- </div> -->
</div>
  </div>
<!--     <button onclick='return startgame()'>Start</button> -->
    <div class='span7'>
      <!-- <div class="row"> -->
    <div id='voice'>
      this is funny
    <!-- </div> -->
  </div>
  <div class="row">
    <div id='disconnect'>
      
    </div>
  </div>
  </div>
</div>
<div class='col-lg-1'>
</div>
</div>

<div class="row">
  <div class="col-lg-8">.col-md-8</div>
  <div class="col-lg-4">.col-md-4</div>
</div>
  </body>
</html>
